{% extends "base.html.twig" %}

{% block body %}
{#    {{ title }}#}
    {{ _self }}
    {{ _charset }}
{#    {{ author }}#}

    {% for movie in movies  %}
{#        <li>{{ movie }}</li>#}
    {% endfor %}
{% endblock %}
